{% extends 'layout.html.twig' %}
{% block title %}Profile{% endblock %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/style2.css">{% endblock %}
{% block content %}

    <img src="/assets/images/oeuf1.png" class="oeuf1">
    <div class="container">
        <h1>Profil</h1>

        {% for id in user %}
        <section id="about" class="about-mf sect-pt4 route">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box-shadow-full">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-sm-6 col-md-5">
                                            <div class="about-img">
                                                <img src="{{ id.image }}" class="img-fluid rounded b-shadow-a"
                                                     alt="">
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-7">
                                            <div class="about-info">
                                                <p><span class="title-s">Login: </span> <span>{{ id.login }}</span></p>
                                                <p><span class="title-s">Character Name: </span>
                                                    <span>{{ id.name }}</span></p>
                                                <p><span class="title-s">Gender: </span>
                                                    <span>{{ id.gender }}</span></p>
                                                <p><span class="title-s">Species: </span>
                                                    <span>{{ id.species }}</span></p>
                                                <p><span class="title-s">Origin: </span>
                                                    <span>{{ id.origin }}</span></p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="skill-mf">
                                        <p class="title-s">Skill</p>
                                        {% for skil in skill %}
                                        <span>{{ skil.0 }}</span> <span class="pull-right">{{ skil.1 }}</span>
                                        <div class="progress">
                                            <div class="progress-bar" role="progressbar" style="width: {{ skil.1 }}0%;"
                                                 aria-valuenow="{{ skil.1 }}" aria-valuemin="0"
                                                 aria-valuemax="10"></div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="about-me pt-4 pt-md-0">
                                        <div class="title-box-2">
                                            <h5 class="title-left">
                                                Mes Stats
                                            </h5>
                                        </div>
                                        <p><span class="title-s">Victoire : </span>
                                            <span>{{ id.win }}</span></p>
                                        <p><span class="title-s">Défaite : </span>
                                            <span>{{ id.loose }}</span></p>
                                        <p><span class="title-s">Match Nul : </span>
                                            <span>{{ id.equal }}</span></p>
                                        <p><span class="title-s">Total Game : </span>
                                            <span>{{ id.win + id.loose + id.equal }}</span></p>
                                        <p><span class="title-s">Total PTS : </span>
                                            <span>{{ id.point }}</span></p>
                                        <p><span class="title-s">Personnage acquis : </span>
                                            <span>5</span></p>
                                        <p><span class="title-s">Collection Eggs : </span>
                                            <span>{{ countEggs }}</span></p>

                                        <!-- Button trigger modal -->
                                        <a href="" class="btn btn-primary" >
                                            Eggs
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <section id="service" class="services-mf route">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="title-box text-center">
                        <h3 class="title-a">
                            Mes autres personnages
                        </h3>
                        <p class="subtitle-a">
                            Selection :
                        </p>
                        <div class="line-mf"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for randoms in random %}
                <form method="post" action="">
                    <div class="col-md-4 justify-content-center">
                    <div class="service-box">
                        <div class="service-ico">
                             <span class="ico-circle"><i class="ion-egg"></i></span>
                        </div>
                        <div class="service-content">
                            <h2 class="s-title">{{ randoms.name }}</h2>
                            <ul class="s-description">
                                <li>{{ randoms.species }}</li>
                                <li>{{ randoms.origin }}</li>
                                <li>{{ randoms.gender }}</li>
                            </ul><input name="id" type="hidden" value="{{ randoms.id }}">
                        </div><button class="btn btn-action btn-lg" type="submit" name="submit" >SELECTIONNER</button>
                    </div>
                </div>
                </form>
                    {% endfor %}
            </div>
        </div>
    </section>

    <div class="section-counter paralax-mf bg-image" style="background-image: url(/assets/images/counters-bg.jpg)">
        <div class="overlay-mf"></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="ion-trophy"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">{{ id.win }}</p>
                            <span class="counter-text">VICTOIRES</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box pt-4 pt-md-0">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="ion-arrow-down-a"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">{{ id.loose }}</p>
                            <span class="counter-text">DEFAITE</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box pt-4 pt-md-0">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="ion-podium"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">{{ id.point }}</p>
                            <span class="counter-text">PTS</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-lg-3">
                    <div class="counter-box pt-4 pt-md-0">
                        <div class="counter-ico">
                            <span class="ico-circle"><i class="ion-egg"></i></span>
                        </div>
                        <div class="counter-num">
                            <p class="counter">{{ countEggs }}</p>
                            <span class="counter-text">EGGS</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endfor %}

{% endblock %}