{% extends 'layout.html.twig' %}

{% block title %}Accueil{% endblock %}
{% block header %} <header id="head">
    <div class="container">
        <div class="row">
            <h1 class="lead"><br></h1>
            <p class="tagline"><br></p>
            <p><a class="btn btn-default btn-lg" href="/game/selectAdverse" role="button">DEFIER UN JOUEUR</a>
                {% if session == false %}
                    <a class="btn btn-action btn-lg" href="/register/index" role="button">S'INSCRIRE</a>
                {% endif %}
            </p>
        </div>
    </div>
    </header>{% endblock %}
{% block content %}

    <div class="container text-center"  id="users">
        <br> <br>
        <h2 class="thin">Les meilleurs combattants</h2>
        <p class="text-center">
            Best Eggers - Top 3
        </p>
        <section>
            <div class="container">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3></h3>
                        <hr />
                    </div>
                </div>
                <div class="row animate-in" data-anim-type="fade-in-up">
                    {% set top = 0 %}
                    {% for infos1 in info1 %}
                        {% set top = top + 1 %}
                    <div class="col-12 col-md-4">
                        <div class="team-wrapper">
                            <div class="card"> <img src="{{ infos1.image }}">
                            </div>
                            <div class="description">
                                <h3> {{ infos1.login | capitalize }} </h3>
                                <h5> <strong> {{ infos1.point }} PTS <br><hr>
                                        {{ infos1.login | capitalize }}</strong></h5>
                                <p></p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </div>
    <div class="jumbotron top-space">
        <div class="container">
            <h3 class="text-center thin">VOUS CHERCHEZ / VOUS DEFIEZ</h3>
            <div class="row">
                {% for infos in info %}
                        <div class="col-12 col-md-3">
                            <div class="card">
                                <a href="/game/fight/{{ infos.id }}"><img class="card-img-top" src="{{ infos.image }}"></a>
                                <div class="card-block">
                                    <h5 class="text-bold">{{ infos.login | capitalize }}</h5>
                                </div>
                            </div>
                        </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container">
        <h2 class="text-center top-space">A PROPOS</h2>
        <br>
        <div class="row">
            <div class="col-sm-6">
                <h3>BATTLEGGS</h3>

                <p>
                    Venez défier les plus grand chasseurs d'Eggs au monde à travers une expérience ludique ! Sélectionnez votre personnage parmi un choix varié et affrontez des milliers d'utilisateurs en ligne.
                    Arriverez-vous à récuperer la collection complète des Eggs ?
                </p>
            </div>
            <div class="col-sm-6">
                <h3>Comment ça marche ?</h3>
                <p>
                    1. Inscrivez-vous et cherchez un adversaire à votre taille <br>
                    2. Défiez les autres memebre à travers des combats redoutables <br>
                    3. Collectionnez le maximum d'Eggs et montrez votre puissance !

                </p>
            </div>
        </div>
    </div>
{% endblock %}
