{% extends 'layout.html.twig' %}
{% block title %}Classement{% endblock %}
{% block content %}
    <div class=" container-fluid background-ranking">
    <section>
        <h1 class="text-ranking">Podium</h1>
        <div class="container ">

            <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <h3></h3>
                    <hr/>
                </div>
            </div>
            <div class="row animate-in" data-anim-type="fade-in-up">
                {% set top = 0 %}
                {% for user in users %}
                    {% set top = top + 1 %}
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                        <div class="team-wrapper">
                            <div class="team-inner"
                                 style="background-image: url('/assets/images/users/{{ user.id }}.jpg')">
                                <a href="/#users"> <img src="/assets/images/{{ top }}.jpg"></a>
                            </div>
                            <div class="description">
                                <h3> {{ user.login | capitalize }} </h3>
                                <h5><strong> {{ user.point }} PTS <br>
                                        <hr>
                                    </strong></h5>
                                <p></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
    </section>
    <section>
        <h2 class="text-ranking">            Classement total        </h2>
        <div class="container">
            {% set top = 1 %}
            {% for tenuser in tenusers %}
                <div class="row">
                    <div class="col-8">
                        <div class="team-wrapper">
                            <div class="description">
                                <ol>
                                    <li class="ranking-list">
                                        <h3 class="ranking"> {{ top }}  | {{ tenuser.login | capitalize }} | Victoires: {{ tenuser.win }} | Défaites: {{ tenuser.loose }} | Matchs Nuls: {{ tenuser.equal }} | Collection Eggs: {{ tenuser.egg }}</h3>
                                        <h5 class="ranking"><strong> {{ tenuser.point }} PTS
                                            </strong></h5>
                                    </li>
                                </ol>
                            </div>

                        </div>

                    </div>
                    <hr>

                </div>
                {% set top = top + 1 %}
            {% endfor %}
        </div>
    </section>
    </div>
{% endblock %}